# First, ignore everything
/*

# Unignore .gitignore
!.gitignore

# Unignore docs
!docs

# Unignore src dir files
!src
src/*
!/src/*.c
!/src/*.h
!/src/*.s

# Unignore build files
!build.bat
!buildList.txt

